/* CSS Document */
.banner-slideshow {
	margin: 0 0 1.3em;
}
.banner-slideshow .moreLink {
	color: white;
	font-weight: bold;
}
.banner-slideshow .bd .content{
	margin-left: 250px;
	margin-top: 40px;
	color: white;
	padding:10px;
}
.banner-slideshow .bd .content h2 {
	background: none;
	
}
.x-bannerslideshowpanel-controlsbar {
	background: none;
	border: none;
}
.x-bannerslideshowpanel-controlsbar .x-btn-icon .x-btn-center .x-btn-text {
	width: 40px !important;
	height: 20px !important;
}
.bannerslideshowpanel-pause,
.bannerslideshowpanel-play {
	width: 40px !important;
	height: 20px !important;
	background-position:0 0 !important;

}
.bannerslideshowpanel-play {
	background-image: url('play.png') !important;
}
.bannerslideshowpanel-pause {
	background-image: url('pause.png') !important;
}